.App {
  text-align: center;
  background-color: #fff;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.App-header h3 {
  text-decoration: underline;
  color: #61dafb;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

main {
  text-align: left;
  padding: 0 40px;
  display: flex;
  gap: 30px;
}